.siteHeader {
  background: #26292e;

  > div {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 36px;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
  }

  > div > div {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  @media (max-width: 800px) {
    .hideSm {
      display: none;
    }

    a:not(.homeLink) {
      padding: 8px 12px;
      grid-gap: 4px;
    }

    .btnText {
      font-size: 12px !important;
      line-height: 1 !important;
      white-space: nowrap;
    }
  }
}
